* {
    box-sizing: border-box;
    font-family: inter, Arial, Helvetica, sans-serif;
}

nav{
    background-color: #F55A5A;
    color: white;
    font-size: 10px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
}

.nav--img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.card{
    color: #2B283A;
    display: flex;
    text-align:left;
    padding-top: 40px;
    margin-bottom: -45px;
}

.card--img{
    width: 190px;
    height: 210px;
    margin-top: 50px;
    border-radius: 9px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card--info {
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.card--location{
    display: flex;
    font-size: 10px;
    margin-top: 35px;
    margin-bottom: -20px;
}

.card--icon{
    height: 9px;
    margin-right: 5px;
    margin-top: 9px;
}

.card--link{
    margin-left: 10px;
    color: #918E9B;
}

.country{
    letter-spacing: 0.17em;
}

.card--title{
    font-size: 25px;
}

.card--caption{
    font-size: 12px;
}